<div class="ui one column grid">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui center aligned header">
        Shifts
        <div class="sub header">Waiters have been assigned the following shifts </div>
      </h1>
    </div>
  </div>
</div>

  <div class = "ui center aligned eight column grid">
  <div class="row">
    {{#each shifts}}

    <div class="column {{color}}">
      <div class="ui vertical fluid menu">
        <div class="header item ">
          {{day}}
        </div>
        {{#each Waiters}}
        <div class="item">
          {{this}}
        </div>
        {{/each}}
      </div>

    </div>
    {{/each}}

  </div>
<a href="/clear"><button class="ui button" type="submit">Clear Shifts</button></a>        

</div>