
    <div class="">
      <form class="" action="/waiters" method="post">
        <input type="text" name="waiter" value="">


        <button type="submit" name="">Submit</button>
      </form>

    </div>
