<div class="ui one column grid">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui center aligned header">
        Waiter Availability
        <div class="sub header">Please Enter Your Name to Login</div>
      </h1>
    </div>
  </div>
</div>

<div class="ui container">

  <form action="/login/" method="post">



    <div class="ui four column centered grid">
 

      <div class="column">
    
        <div class="ui action input">
          <label for="Waiter"></label>
          <input type="text" placeholder="Enter a Name..." name="waiterName">
          <button class="ui button" type="submit">User</button>
        </div>
      </div>

      <div class='column'>
        {{#if messages.register}}
        <div class ='register'>
              <h3 class='ui center aligned header orange'>  {{messages.register}}</h>
        </div>
        {{/if}}

      </div>
  
       <div class="column">
        <div class="ui action input">
          <label for="Waiter"></label>
          <input type="text" placeholder="Enter a Name..." name="adminName">
         <a href="/days"><button class="ui button" type="button">Admin</button></a> 
        </div>
      </div>

    </div>
  </form>

  <div class = 'ui one column centered grid'>
   <div class ='column'>
     <h3 class='ui center aligned header'> or</h>
  <h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Register
    </h2>  

  </div>


<form action="/register" method='post'>  
  <div class='ui one column centered grid'>


     <div class='column'>
       <div class="ui form">
        <div class="inline fields">
          <div class="seven wide field">
            <label>Full Name</label>
            <input type="text" name='fullName' placeholder="Full Name">
          </div>
                     <label>Pick a User Name</label>

          <div class="five wide field">
            <input type="text" name='userName' placeholder="User Name">
          </div>
          <button class="ui button" type="submit">Register</button>

        </div>

      </div>
     </div>
      
    
    </div>
    </form>

  

 
</div>
     {{!-- <div class='column'> --}}
        {{#if messages.registered}}
        <div class ='registered'>
              <h3 class='ui center aligned header green'>  {{messages.registered}}</h>
        </div>
        {{/if}}

        {{#if messages.errors}}
        <div class ='errors'>
              <h3 class='ui center aligned header orange'>  {{messages.errors}}</h>
        </div>
        {{/if}}


<script src="../timeout.js"></script>