
    <div class="" id="loginBox">

      <h3 id="#loginBox-heading">Waiter Availability</h3>
      <form action="/login/" method="post">
      <input type="text" name="waiterName" value="">

      <button type="submit" value='waiter'>user</button>
      <!-- <button type="submit"value = 'admin'>admin</button> -->

      </form>

    </div>
