
    <div class="">
      <form class="" action="/waiters" method="post">
      <input type="text" name="waiter" value="">

      <a href="/waiters"><button type="submit" name="waiterName" value='waiter'>user</button></a>
      <a href="/waiters"><button type="submit" name="waiterName" value = 'admin'>admin</button></a>

      </form>

    </div>
