<div class="ui one column grid">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui center aligned header">
        waiter Availability
        <div class="sub header">Please Enter Your Name to Login</div>
      </h1>
    </div>
  </div>
</div>

<div class="ui container">

  <form action="/login/" method="post">

    <div class="ui four column centered grid">

      <div class="column">
        <div class="ui action input">
          <input type="text" placeholder="Enter a Name..." name="waiterName">
          <button class="ui button" type="submit">Submit</button>
        </div>
      </div>

    </div>
  </form>
</div>
