<div class="ui one column grid">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui center aligned header">
        Select Days
        <div class="sub header">Please Select the Days You would Like to Work</div>
      </h1>
    </div>
  </div>
</div>

<div class="ui container">

  <form class="" action="/waiters/{{username}}" method="post">

    <div class="ui seven column centered grid">
      <div class="row">

        {{#each days}}

          <div class="column">

            <div class="ui checkbox">
              <input type="checkbox" name="example">
              <label>{{day_name}}</label>
            </div>
          </div>

        {{/each}}
      </div>

      <div class="column">
        <button class="ui button" type="submit">Submit</button>
      </div>
    </div>

</div>
</form>

</div>
